@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

            --font-afacad:
        "Afacad", sans-serif;
}



body {
    margin-top: 10rem; /* Adjust based on your navbar height */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* background-color: rgb(255, 255, 255); */
    z-index: 1000;
    padding: 0.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Added this */

    
}



.navLinks {
    display: flex;
    gap: 2rem;
    align-items: center; /* Added this */
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
}

.card img {
    height: 100%;
    aspect-ratio: 1/1;
}

.filters {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

input {
    border: 1px solid #ccc;
    border-radius: 8px;
}

[x-cloak] {
    display: none !important;
}